.navbar-nav .nav-item {
    position: relative;
    cursor: pointer;
  }
  
  .navbar-nav .has-submenu:hover .submenu,
  .navbar-nav .has-submenu:focus-within .submenu {
    display: block;
  }
  
  .navbar-nav .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #ffffff;
    color: #000;
    min-width: 160px;
    border-radius: 6px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    padding: 0;
    z-index: 1000;
  }
  
  .navbar-nav .submenu li {
    list-style: none;
    padding: 10px 15px;
    white-space: nowrap;
  }
  
  .navbar-nav .submenu li:hover {
    background-color: #f0f0f0;
    border-radius: 6px;
  }
  
  .navbar-nav .nav-link {
    color: #aaa;
    cursor: pointer;
    padding: 10px 15px;
    transition: background 0.2s ease-in-out;
  }
  
  .navbar-nav .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 6px;
  }

  @media (max-width: 991.98px) {
  .navbar {
    background-color: transparent !important;
  }
  
  .navbar .navbar-brand {
    display: none;
  }

  .navbar .navbar-toggler {
    margin-right: auto;
  }
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='black' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}