<div class="container-fluid py-5 px-3">
  <div class="mb-4">
    <img [src]="getLogoUrl()" width="100" alt="logo" class="d-block mx-auto">
  </div>

  <!-- Contenido principal -->
  <div class="text-center">
    <!-- Si el usuario NO está autenticado -->
    <div *ngIf="!user" class="d-flex flex-column align-items-center justify-content-center">
      <h2 class="mb-4 fw-bold">Bienvenido a <span class="text-success">SmartServe</span></h2>
      <button class="btn btn-outline-success mb-2 px-4 py-2 rounded-pill" (click)="navigateToRegister()">Registrarse</button>
      <button class="btn btn-success px-4 py-2 rounded-pill" (click)="navigateToLogin()">Iniciar Sesión</button>
    </div>

    <!-- Si el usuario está autenticado -->
    <div *ngIf="user">
      <h2 class="mb-5 fw-bold">Hola, <span class="text-success">{{ user.name }}</span></h2>

      <div class="row g-4 justify-content-center">
        <!-- Tarjeta reusable -->
        <ng-container *ngIf="user?.role === 'admin' || user?.role === 'personal'">
          <div class="col-12 col-md-4" *ngIf="user?.role === 'admin' || user?.role === 'personal'">
            <div class="card card-dashboard shadow border-0 h-100">
              <div class="card-body text-center">
                <i class="bi bi-person-circle fs-1 text-success mb-3"></i>
                <h5 class="card-title mb-3">Cuenta</h5>
                <button class="btn btn-success w-100" (click)="goToUpdateUser()">Modificar cuenta</button>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-4" *ngIf="user?.role === 'admin'">
            <div class="card card-dashboard shadow border-0 h-100">
              <div class="card-body text-center">
                <i class="bi bi-journal-plus fs-1 text-success mb-3"></i>
                <h5 class="card-title mb-3">Menú</h5>
                <button class="btn btn-outline-success mb-2 w-100" (click)="goToCreateMenu()">Crear Menú</button>
                <button class="btn btn-success w-100" (click)="goToListMenus()">Listar Menús</button>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-4" *ngIf="user?.role === 'admin'">
            <div class="card card-dashboard shadow border-0 h-100">
              <div class="card-body text-center">
                <i class="bi bi-people-fill fs-1 text-success mb-3"></i>
                <h5 class="card-title mb-3">Personal</h5>
                <button class="btn btn-outline-success mb-2 w-100" (click)="goToCreateUser()">Dar de alta</button>
                <button class="btn btn-success w-100" (click)="goToListPersonal()">Lista de Personal</button>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-4">
            <div class="card card-dashboard shadow border-0 h-100">
              <div class="card-body text-center">
                <i class="bi bi-tags-fill fs-1 text-success mb-3"></i>
                <h5 class="card-title mb-3">Categorías</h5>
                <button class="btn btn-outline-success mb-2 w-100" (click)="goToCreateCategory()">Crear Categoría</button>
                <button class="btn btn-success w-100" (click)="goToListCategory()">Listar Categorías</button>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-4">
            <div class="card card-dashboard shadow border-0 h-100">
              <div class="card-body text-center">
                <i class="bi bi-egg-fried fs-1 text-success mb-3"></i>
                <h5 class="card-title mb-3">Platos</h5>
                <button class="btn btn-outline-success mb-2 w-100" (click)="goToCreateDishes()">Crear Plato</button>
                <button class="btn btn-success w-100" (click)="goToListPlatos()">Listar Platos</button>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-4" *ngIf="user?.role === 'admin' || user?.role === 'personal'">
            <div class="card card-dashboard shadow border-0 h-100">
              <div class="card-body text-center">
                <i class="bi bi-receipt-cutoff fs-1 text-success mb-3"></i>
                <h5 class="card-title mb-3">Pedidos</h5>
                <button class="btn btn-success w-100" (click)="goToPedidos()">Ver Pedidos</button>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>